# Customer Personality Analysis
Analysis of company's ideal customers
https://www.kaggle.com/imakash3011/customer-personality-analysis

In [8]:
import pandas as pd
df = pd.read_csv("marketing_campaign.csv", sep="\t")
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

What is the marital status of the richest person

In [9]:
df.iloc[df["Income"].idxmax()].Marital_Status

'Together'

How many PHDs in percent are drinking?

In [19]:
print(len(df[df['MntWines'] >0])/len(df))

0.9941964285714285

In which campaign most offers were accepted

In [26]:
df[["AcceptedCmp1", "AcceptedCmp2", "AcceptedCmp3", "AcceptedCmp4", "AcceptedCmp5", "Response"]].sum().idxmax()

'Response'

Percentage of dating and married people who bought gold products vs all

In [27]:
print(len(df[df['MntGoldProds'] >0 & ((df["Marital_Status"] == "Together") | df["Marital_Status"] == "Married")])/len(df))

0.9727678571428572

Get statistics of drinking by number of children/teenagers at home. Do childless people drink more?

In [41]:
df[df['MntWines'] > 0].groupby(['Kidhome', 'Teenhome'])['ID'].count()

Kidhome  Teenhome
0        0           630
         1           625
         2            30
1        0           498
         1           374
         2            22
2        0            17
         1            31
Name: ID, dtype: int64